In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [97]:
#navigate to parent directory
parent_dir = os.path.dirname(os.getcwd())

#setting the filenames
training_file = os.path.join(parent_dir, 'data/train/Bitext_Sample_Customer_Service_Training_Dataset.csv')

#opening the files
training_df = pd.read_csv(training_file)

In [79]:
training_df.head()

,utterance,intent,entity_type,entity_value,start_offset,end_offset,category,tags
0,how can I cancel purchase 113542617735902?,cancel_order,order_id,113542617735902,26.0,41.0,ORDER,BIL
1,can you help me canceling purchase 00004587345?,cancel_order,order_id,00004587345,35.0,46.0,ORDER,BIL
2,i want assistance to cancel purchase 732201349959,cancel_order,order_id,732201349959,37.0,49.0,ORDER,BLQ
3,i want assistance to cancel order 732201349959,cancel_order,order_id,732201349959,34.0,46.0,ORDER,BQ
4,"I don't want my last item, help me cancel orde...",cancel_order,order_id,370795561790,48.0,60.0,ORDER,BCLN

In [98]:
df = training_df

In [103]:
def remove_tags(tags):
    new_tags = ""
    for char in tags:
        # if char not in ['B','I','L', 'N', 'G']:
        if char in ['P', 'W', 'C', 'Q', 'Z']:
            new_tags += char
    return new_tags

In [104]:
df['tags'] = df['tags'].apply(remove_tags)

In [105]:
df.head()

,utterance,intent,entity_type,entity_value,start_offset,end_offset,category,tags
0,how can I cancel purchase 113542617735902?,cancel_order,order_id,113542617735902,26.0,41.0,ORDER,
1,can you help me canceling purchase 00004587345?,cancel_order,order_id,00004587345,35.0,46.0,ORDER,
2,i want assistance to cancel purchase 732201349959,cancel_order,order_id,732201349959,37.0,49.0,ORDER,Q
3,i want assistance to cancel order 732201349959,cancel_order,order_id,732201349959,34.0,46.0,ORDER,Q
4,"I don't want my last item, help me cancel orde...",cancel_order,order_id,370795561790,48.0,60.0,ORDER,C

In [106]:
df['tags'].unique()

array(['', 'Q', 'C', 'QZ', 'Z', 'CQ', 'P', 'CP', 'PQZ', 'CQZ', 'CPQZ',
       'PQ', 'CQW', 'CPQ', 'CQWZ', 'WZ', 'W', 'QW', 'QWZ', 'PQWZ', 'CZ',
       'CW', 'CPW', 'CPQW', 'PQW', 'PZ', 'CPQWZ', 'CPWZ', 'CWZ', 'PW'],
      dtype=object)

In [64]:
def contains_tags(tags):
    for char in tags:
        if char in ['Z', 'P']:
            return True
    return False

In [ ]:
print((df[df['tags'].apply(contains_tags)]))

In [107]:
def contains_custom_input(tags, custom_input):
    for char in tags:
        if char == custom_input:
            return True
    return False

In [108]:
arr = df['tags'].unique()

In [110]:
len(df[df['tags'].apply(contains_custom_input, args=["CPQWZ"])])

0